<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Моё Приложение"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- SplashActivity - запускается первым -->
        <activity
            android:name=".Тронин11.ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Экран входа -->
        <activity
            android:name=".Тронин11.ui.auth.LoginActivity"
            android:exported="false" />

        <!-- Экран регистрации -->
        <activity
            android:name=".Тронин11.ui.auth.RegisterActivity"
            android:exported="false" />

        <!-- Главный экран -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>